# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
package-lock.json
yarn.lock
pnpm-lock.yaml

# testing
/coverage
/.nyc_output

# next.js
/.next/
/out/
.cache/

# production
/build
/dist
/.build

# misc
.DS_Store
*.pem
.idea/
.vscode/
*.swp
*.swo
.project
.settings/
.history/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log

# local env files
.env.*
.env*.local
.env
.env.development
.env.test
.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# logs
logs/
*.log

# temp files
tmp/
temp/

# coverage reports
coverage/
.coverage
coverage.json

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map
